@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  ms-overflow-style: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
}
@theme {
  /* Color variables */
  --color-x-bg: #fff;
  --color-x-text: #141419;
  --color-x-blue: #2a5dfa;
  --color-x-green: #69c832;
  --color-x-bocchi: #eeb8c4;
  --color-x-kita: #d0574e;
  --color-x-nijika: #e6d47b;
  --color-x-ryo: #4061a0;
  --color-x-link: #1e90ff;
  --color-x-link-hover: #e84242;

  /* Custom Animations */
  --animate-x-fade-in-down: fade-in-down 3s ease-in-out infinite;
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  --animate-x-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
}
